
@media screen and (max-width: 992px){


    body{
        background-color: #fff;
    }

    .architects_principal_logo img{
        width: 500px;
        height: 300px;
        filter: drop-shadow(2px 2px 1px #111);
    }

    .title__architects_historia, .title__architects_discografia, .title__architects_songs{
        padding-top: 40px ;
        text-align: center;
        font-size: 3rem ;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .items__navigator{
        list-style: none;
        margin-left: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .items__navigator li a{
        padding: 10px;
        /* margin-left: 36px ; */
        text-decoration: none;
        color: white;
        font-size: 26px;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .principal__text_items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    
    }

    .principal__text_items p {
        width: 700px;
        text-align: center;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
    }

    .container_historia_main{
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 60px;
        padding-bottom: 60px;
    }
    .architects-band img{
        z-index: 10;
        position: absolute;
        left: 470px;
        width: 490px;
        height: 300px;
        overflow: hidden;
    }
    .texto__historia{
        position: relative;
        margin-top: 30px;
        margin-left: 20px;
        width: 500px;
        padding: 70px 50px 90px 20px;
        background-color: white;
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;
    }


    .disco{
        margin-left: 30px;
        width: 250px;
        height: 250px;
        position: relative;
    }

    .mostrar_texto{
        width: 0%;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.521);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        visibility: hidden;
    }

    .disco:hover .mostrar_texto{
        width: 100%;
        color: #111;
        font-size: 1.3rem ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        visibility: visible;
        font-family: 'Barlow Condensed', sans-serif;
    }



    .container__songs_election{
        width: 80%;
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap:50px;
        padding-top: 480px;
        height: 400px;
        overflow-y: scroll;
    
    }
    .song-title{
        text-align: center;
        color: #fff;
        width: 100px;
        font-size: 1.4rem;
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    
    .song-album{
        color: #fff;
        width: 100px;
        font-size: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
    
    }
    
    .songs{
        width: 600px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
    }
    .songs audio{
        border: 2px solid white;
        width: 300px;
        border-radius: 30px;
    }



    .banner-end-architects hr{
        width: 400px;
    }
    
    

}